//
// ELEMENTS - PAGE
//__________________________________________________

html, body{
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //color: $font-color-base;
  //font-family: $primary-font-family;
  //font-size: $font-size-base;
  //font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  background-color: black;
  -webkit-overflow-scrolling: touch
}
