doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='cache-control', content='max-age=259200')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='HandheldFriendly', content='true')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='MEAN Energy is a CRUD application to find the energy drink right for you')
    meta(name='keywords', content='mongodb, expressjs, angularjs, node, energy drinks, javascript, educational')
    meta(property='og:site_name', content='MEAN Energy')
    meta(property='og:title', content='MEAN Energy')
    meta(property='og:description', content='MEAN Energy is a CRUD application to find the energy drink right for you')
    title MEAN Energy
    link(rel='stylesheet', href='/stylesheets/build/vendor-styles.min.css')
    link(rel='stylesheet', href='/stylesheets/build/styles.min.css')
  body(ng-app='meanEnergy')

    //NAVIGATION BAR
    //div(ng-controller='AppCtrl', ng-cloak='')
    div
      md-content
        md-toolbar.md-hue-2
          .md-toolbar-tools
            .container
              div(layout='row' layout-align='space-between center')
                .navbar-left
                  a(href='/', layout='row', layout-align='center center')
                    img.image-responsive.logo(src='http://placehold.it/75x75')
                    h2.logo-text MEAN Energy
                .navbar-right
                  md-button(href='/beverages', aria-label='Beverages') Beverages
                  md-button(href='/about', aria-label='About') About
                  md-button(href='/users/login') Login
                  md-button(href='/users/register') Register

    //!= messages()
    block content


    script(src='/javascripts/build/vendor-scripts.min.js')
    script(src='/javascripts/build/scripts.min.js')
