extends layout

block content
  if errors
    each error, i in errors
      .server-alert.warning #{error.msg}

  div(layout='column' layout-align='center center')
    h1=title
    md-content(layout-padding='')
      div
        form(name='loginForm', method='POST', action='/users/register')
          div(layout='column')
            md-input-container.md-block
              label Username
              input(name='username', type='text')
            md-input-container.md-block
              label Email
              input(name='email', type='email')
            md-input-container.md-block
              label Password
              input(name='password', type='password')
            md-input-container.md-block
              label Password Confirm
              input(name='passwordConfirm', type='password')
            md-button.md-raised.md-primary(type='submit', name='submit', value='Register') Login

