 <!DOCTYPE html>
 <html lang="en" ng-app="meanEnergy">

<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="max-age=259200" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>MEAN Energy</title>
  <meta name="description" content="MEAN Energy, providing you with nutitiral information for your favorite drinks" />
  <link rel="stylesheet" href="assets/stylesheets/vendor-styles.css" />
  <link rel="stylesheet" href="assets/stylesheets/styles.css" />
  <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-controller="ApplicationController">
  <md-content class="site-container">
    <header>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
          <div ng-controller="SiteSideNavController">
            <md-button class="md-icon-button main-menu-button" aria-label="Main Menu" ng-click="toggleSideNav()">
              <i class="zmdi zmdi-menu zmdi-hc-2x"></i>
            </md-button>
          </div>
          <h2 class="text-center" flex>MEAN Energy</h2>
          <md-button class="md-icon-button" aria-label="More">
            <i class="zmdi zmdi-more-vert zmdi-hc-2x"></i>
          </md-button>
        </div>
      </md-toolbar>
    </header>
    <!-- SIDE NAV -->
    <div ng-controller="SiteSideNavController">
     <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="site_sidenav">
       <md-content flex role="navigation">
         <div class="sidenav-logo">
           <img class="image-responsive" ng-src="http://placehold.it/125.125" alt="Logo"/>
         </div>
         <ul class="sidenav-navigation">
           <li>
             <md-button class="md-ink-ripple" ui-sref="home" ng-click="closeSideNav()">Home</md-button>
           </li>
           <li>
             <md-button class="md-ink-ripple" ui-sref="login" ng-click="closeSideNav()">Login</md-button>
           </li>
           <li>
             <md-button class="md-ink-ripple" ui-sref="admin-dashboard" ng-click="closeSideNav()">Admin Dashboard</md-button>
           </li>
           <li>
             <md-button class="md-ink-ripple" ui-sref="drinks" ng-click="closeSideNav()">Drinks</md-button>
           </li>
           <li>
             <md-button class="md-ink-ripple" ui-sref="companies" ng-click="closeSideNav()">Companies</md-button>
           </li>
         </ul>
         <div class="sidenav-version">Site Version: 1.0.0 <a href="https://github.com/wsfuller/mean-energy"><i class="zmdi zmdi-github"></i></a></div>
       </md-content>
     </md-sidenav>
    </div> <!-- // side nav -->
    <div ui-view autoscroll="'true'"></div>
  </md-content>




<script src="assets/javascripts/vendor-scripts.min.js"></script>
<script src="assets/javascripts/scripts.min.js"></script>
</body>
</html>
