//
// SETTINGS - ANIMATIONS
//__________________________________________________

$animation-timing-base: 0.5s;
$animation-timing-slow: $animation-timing-base / 2;
$animation-timing-fast: $animation-timing-base * 2;
