//
// SETTINGS - BORDER-RADIUS
//__________________________________________________

$border-radius-base: 0.25rem;
$border-radius-small: $border-radius-base / 2;
$border-radius-large: $border-radius-base * 2;
$border-radius-round: 50%;
