//
// SETTINGS - BREAKPOINTS
//__________________________________________________

$screen-xs:   599px;
$screen-sm:   959px;
$screen-md:   1279px;
$screen-lg:   1920px;

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
