<div ng-init="getCompanies()">
  <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
    <md-grid-list ng-app="app" layout-fill flex md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="150px" md-gutter="8px">
      <md-grid-tile ng-repeat="company in companies">
        <md-card  layout-fill layout-padding>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{company.name}}</span>
              <span class="md-subhead">{{company.slogan}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img class="image-responsive" ng-src="{{company.logo.square}}" alt="{{company.name}}" />
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="company-profile({profile: company.id})">View</md-button>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
